# Notebooks
notebooks/*.ipynb
.ipynb_checkpoints/

.idea/
.DS_Store


__pycache__/

fine_tuning/dataset/*.csv
fine_tuning/dataset/train.jsonl
fine_tuning/dataset/unique_words.txt

.coverage

frontend/node_modules/
frontend/dist/*.txt
frontend/dist/*.js


