.board {
    display: flex;
    flex-direction: row;
}


.clueContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-right: 20px;
}

.clues {
    display: flex;
    flex-direction: column;

    .selected {
        background-color: lightgreen;
    }

    div {
        margin: 5px
    }
}

.row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.cell {
    font-size: large;
    border: 1px solid grey;
    margin: 2px;
    min-width: 40px;
    min-height: 30px;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-top: 10px;
}

.cell.selected {
    background-color: lightgreen;
}

.cell.empty {
    border: 1px solid darkgray;
    background-color: darkgray;
}