.board {
    display: flex;
    flex-direction: row;
}


.clueContainer {
    display: flex;
    flex-direction: column;
    /*justify-content: center;*/
    margin-right: 20px;
}

.matrix {
    border-bottom: 1px solid grey;
    border-right: 1px solid grey;
}

.clues {
    display: flex;
    flex-direction: column;

    .selected {
        background-color: #eeed90;
    }

    div {
        margin: 5px
    }

    .clue-type {
        font-size: 15px;
        font-weight: bold;
    }

    .clue {
        font-size: 16px;
        display: flex;
        flex-direction: row;

        .clue-global-index {
            font-size: 12px;
            margin-right: 5px;
        }
    }
}

.row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.cell {
    font-size: large;
    border-top: 1px solid grey;
    border-left: 1px solid grey;
    /*margin: 2px;*/
    min-width: 40px;
    min-height: 35px;
    display: flex;
    flex-direction: row;

    .beginning-clues {
        color: #c100ff;
        font-size: 8px;
        position: relative;
        top: 0;
        right: 0;
        width: 5px;
        margin-left: -5px
    }

    .cell-content {
        padding-top: 5px;
        display: flex;
        align-items: center;
        flex-direction: column;
        width:100%;
        height: 100%;
    }

}

.cell.selected {
    background-color: #eeed90;
}

.cell.empty {
    /*border: 1px solid darkgray;*/
    background-color: lightgray;
    color: lightgray;
}